@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --shine: 240 4.8% 95.9%;

        --card: 0 0% 97.6%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 0% 88%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 4.9% 83.9%;
        --ring: 240 5% 64.9%;

        --radius: 0.75rem;

        /* Video player */
        --media-brand: 245 245 245;
        --media-focus: 78 156 246;
        --video-border: none;
        --video-border-radius: 0;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 12.9%;
        --foreground: 0 0% 98%;

        --shine: 240 3.7% 15.9%;

        --card: 0 0% 9%;
        --card-foreground: 0 0% 90%;

        --popover: 0 0% 18.4%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 5.9% 10%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 0% 20%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 3.8% 46.1%;

        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .icons {
        @apply inline-block h-5 w-5 bg-[url('/icons.png')] bg-[length:25px_1461px] bg-no-repeat;
    }

    .icon-filter {
        @apply brightness-[95%] contrast-[86%] hue-rotate-[178deg] invert-[21%] saturate-[640%] sepia-[22%];
    }

    .chapter-nav {
        @apply flex h-[52px] w-full items-center gap-x-2 rounded-full bg-muted/80 px-3 py-1 backdrop-blur-xl md:h-[67px] md:p-3 dark:border dark:bg-background/80;
    }

    .chapter-nav.stickied {
        @apply fixed top-4 max-w-[calc(100%-32px)] border shadow-lg transition-[top] xl:max-w-[1120px];
    }

    body.header-pinned .stickied {
        @apply top-20;
    }

    body.header-pinned header {
        @apply border-b;
    }

    .line-mask {
        mask-image: linear-gradient(rgb(0, 0, 0), transparent);
    }
}

.CircularProgressbar-path {
    @apply stroke-blue-500 !important;
}

.CircularProgressbar-trail {
    @apply stroke-gray-300/50 dark:stroke-gray-700/50 !important;
}

.lazy-wrapper {
    @apply absolute inset-0 h-full w-full bg-cover object-cover leading-[0];
}

.lazy-wrapper > img {
    @apply inline-block w-full;
}

.sizing-content {
    field-sizing: content;
}

.transition-background {
    transition-property: background;
    transition-timing-function: ease;
    transition-duration: 0.25s;
}
